@using SV22T1020659.Models.Catalog
@model ProductSearchInput

@{
    ViewBag.Title = "Quản lý Mặt hàng";
}

@section PageToolBar {
    <a href="~/Product/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Bổ sung
    </a>
}

<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch"
              method="get"
              action="~/Product/Search"
              data-target="searchResult"
              onsubmit="paginationSearch(event, this, 1)">

            <input type="hidden" asp-for="PageSize" />

            <div class="row">
                <div class="col-sm-3 mb-2">
                    <select class="form-select" asp-for="CategoryID"
                            asp-items="await SelectListHelper.Categories()"
                            onchange="paginationSearch(event, document.getElementById('formSearch'), 1)">
                    </select>
                </div>
                <div class="col-sm-3 mb-2">
                    <select class="form-select" asp-for="SupplierID"
                            asp-items="await SelectListHelper.Suppliers()"
                            onchange="paginationSearch(event, document.getElementById('formSearch'), 1)">
                    </select>
                </div>
                <div class="col-sm-6 mb-2">
                    <div class="input-group">
                        <input type="text" asp-for="SearchValue"
                               class="form-control"
                               placeholder="Tên mặt hàng..." autofocus />
                        <button class="btn btn-info d-flex align-items-center">
                            <i class="bi bi-search me-1"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="searchResult"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paginationSearch(null, document.getElementById("formSearch"), @Model.Page);
        });
    </script>
}
