@using SV22T1020659.Models.Sales
@model OrderSearchInput

@{
    ViewBag.Title = "Quản lý đơn hàng";
}

<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch" 
              method="get" 
              action="~/Order/Search" 
              data-target="searchResult"
              onsubmit="paginationSearch(event, this, 1)">

            <input type="hidden" asp-for="PageSize" />

            <div class="row align-items-end">
                <div class="col-sm-2 mb-2">
                    <label class="form-label">Trạng thái:</label>
                    <select class="form-select" asp-for="Status" 
                            asp-items="SelectListHelper.OrderStatus()"
                            onchange="paginationSearch(event, document.getElementById('formSearch'), 1)">
                    </select>
                </div>

                <div class="col-sm-2 mb-2">
                    <label class="form-label">Từ ngày:</label>
                    <input type="text" asp-for="DateFrom" class="form-control date-picker" placeholder="dd/mm/yyyy" />
                </div>

                <div class="col-sm-2 mb-2">
                    <label class="form-label">Đến ngày:</label>
                    <input type="text" asp-for="DateTo" class="form-control date-picker" placeholder="dd/mm/yyyy" />
                </div>

                <div class="col-sm-6 mb-2">
                    <label class="form-label">Tìm theo tên khách hàng hoặc người giao hàng:</label>
                    <div class="input-group">
                        <input type="text" asp-for="SearchValue" class="form-control" placeholder="Tìm kiếm đơn hàng..." autofocus />
                        <button type="submit" class="btn btn-info">
                            <i class="bi bi-search me-1"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="searchResult"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paginationSearch(null, document.getElementById("formSearch"), @Model.Page);
        });
    </script>
}